<% include includes/header %>
<section class="controller IDLE" style="margin: 0 auto; width: 100%; height: 100%;">
    <article class="IDLE" style ="width: 80%; margin: 0 auto; padding: 10px; text-align: center;">
        <img src="/imgs/skull-1.png">
        <h1>Waiting for Scan</h1>
    </article>
    <article class="QR_SCANNED" style ="width: 50%; margin: 0 auto; padding: 10px; text-align: center; display:none;">
        <img src="/imgs/skull-2.png">
        <h1>Checking System</h1>
        <h4 class="firstName">FirstName</h4>
        <h4 class="lastName">LastName</h4>
        <h6 class="code">HiuhGY</h6>
    </article>

    <article class="SYSTEM_CHECKED" style ="width: 80%; margin: 0 auto; padding: 10px; text-align: center;display:none;">
        <img src="/imgs/skull-3.png">
        <h1 class="arm">ARM</h1>
    </article>

    <article class="SYSTEM_ARMED" style ="width: 80%; margin: 0 auto; padding: 10px; text-align: center;display:none;">
        <h1 class="go">Go</h1>
    </article>

    <article class="SYSTEM_ACTIVE" style ="width: 80%; margin: 0 auto; padding: 10px; text-align: center;display:none;">
      <h1 class="kick">Kick</h1>
      <article class="option" style="width:100%; padding: 10px; text-align:center;">
        <h1 style="display:inline; margin: 20px" class="miss">Miss</h1>
        <h1 style="display:inline; margin: 20px" class="goal">Goal</h1>
        <h1 style="display:inline; margin: 20px" class="wiff">Rocket</h1>
      </article>
    </article>


    <!--
    <article style="width: 50%; margin: 0 auto; padding: 10px; text-align: center;">
      <button style="padding: 0 auto; width: 40%;" class="btn btn-default qr">Scan QR</button>
    </article>
    <article style="width: 50%; margin: 0 auto; padding: 10px; text-align: center;">
      <button style="padding: 0 auto; width: 40%;" class="btn btn-default check">Check System</button>
    </article>
    <article style="width: 50%; margin: 0 auto; padding: 10px; text-align: center; display: none;">
      <button style="padding: 0 auto; width: 40%;" class="btn btn-default arm">Arm</button>
    </article>
    <article style="width: 50%; margin: 0 auto; padding: 10px; text-align: center; display: none;">
      <button style="padding: 0 auto; width: 40%;" class="btn btn-default go">Go</button>
    </article>
    <article style="width: 50%; margin: 0 auto; padding: 10px; text-align: center;">
      <button style="padding: 0 auto; width: 40%;" class="btn btn-default kick">Kick</button>
    </article>
    <article style="width: 50%; margin: 0 auto;">
      <article style="width:100%; padding: 10px; text-align:center;">
        <button style="display:inline;" class="btn btn-default miss">Miss</button>
        <button style="display:inline;" class="btn btn-default goal">Goal</button>
        <button style="display:inline;" class="btn btn-default wiff">Wiff</button>
      </article>
    </article>
    -->


      <article class="SYSTEM_RESET" style ="width: 50%; margin: 0 auto; padding: 10px; text-align: center;">
        <h5 class="reset">RESET</h5>
      </article>

</section>

<% include includes/footer %>
