<% include includes/header %>

<form id="test-form" action="http://127.0.0.1:3000/camera" method="post">

<input type="text" name="address" value="Pi IP">
<input type="text" name="serial" value="Camera Serial">
<input type="text" name="cam_id" value="Camera ID">
<input type="submit" value="Send Info">

</form>

<% include includes/footer %>
