html, body{
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

section#cameras-index{
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding-bottom: 80px
}

ul#cameras{
	margin: 10px auto;
}
ul.camera{

	min-height: 80px;
	margin: 0 40px;
}
ul.camera li{
		display:inline;
		height: 40px;

}

li.camera.offline{
	background-color: #B2B2B2;
}

li.camera.connected{
	background-color: #CCF5CC;
}
li.camera.disconnected{
	background-color: #FF8080;
}
li.camera.ready{
	background-color: #ADC2FF;
}

ul.camera li h5{
		display:inline;

}
.btn-lg.active, .btn-lg:active{
	background-color: #FF8080;
}

ul.camera li h5 .input-group input{
	display: inline;
	margin: 0;
	padding: 0;
}

/* ON FIELD CSS */
.controller{

	padding: 100px 0 0 0;
}

.controller img{
	max-width: 320px
	width: auto;
	max-height: 320px;
	height: auto;
	margin: 0 auto 100px;
}
.controller.IDLE{
	background-color: #ed1c24;
}
.controller.QR_SCANNED{
	background-color: #ffed0b;
}
.controller.SYSTEM_CHECKED{
	background-color: #ffed0b;
}
.controller.SYSTEM_ARMED{
	background-color: #000;
}
.controller.SYSTEM_ACTIVE{
	background-color: #fff;
}

.controller h1,h2,h3,h4,h5,h6,p {
	font-family: RhodeRebelMediumCondensed;
	text-transform: uppercase;
	color:#000;
}


.controller h1{
	font-size: 80px;

}

.controller h1.arm{
	color: #ed1c24;
	font-size: 120px;
}
.controller h1.go{
	color: #ed1c24;
	font-size: 300px;
}

.controller h1.kick{
	color: #ed1c24;
	font-size: 120px;
}

.controller h5{
	font-size: 40px;
}

.controller article.option h1{
	font-size: 60px
}
/* CONTROLLER PAGE FRONT END FOR ADMINS*/

#arm-cameras input[type="submit"]{
	margin:40px;
	float:left;
	width:200px;
	font-size:100px;
	padding:200px;
}

#camera-status{
	float:left;
	margin:40px;
}

#trigger-cameras input{
	margin:40px;
	float:left;
	width:100px;
}

/*IMAGES PAGE FRONT END FOR EDITOR */

#image-output{
	height:640px;
	width:640px;
}
